* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #8CC461;
}

.score-container {
    max-width: 100%;
    width: 700px;
    border: 2px solid #FFF;
    border-radius: 13px;
    background: rgba(28, 48, 120, 0.00);
    width: 800px;
    height: 158px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 23px 35px;
    color: #FFF;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 4px;
    margin-top: 2rem;
}

.compScore {
    width: 139px;
    height: 128px;
    flex-shrink: 0;
    border-radius: 9px;
    background: #FFF;
    margin-left: 120px;
    color: #656565;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.userScore {
    width: 139px;
    height: 128px;
    flex-shrink: 0;
    border-radius: 9px;
    background: #FFF;
    color: #656565;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 15px;
}

span {
    color: #252525;
    text-align: center;
    font-family: Roboto;
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.game-container {
    width: 100%;
    min-height: 69vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info {
    width: 700px;
    min-height: 10vh;
    font-size: 1.2rem;
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFF;

    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.7px;
}

.option {
    max-width: 100%;
    width: 700px;
    min-width: 49vh;
    display: grid;
    position: relative;
    place-content: center;
}

.con {
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 18px;
    cursor: pointer;
}

.computer {
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 18px;
    display: none;
}

.sci-con {
    background-color: #BD00FF;
    right: 8rem;
    top: 3%;
}

.rock-con {
    background-color: #0074B6;
    left: 8rem;
    top: 3%;
}

.paper-con {
    background-color: #FFA943;
    left: 17rem;
    top: 250px;
}

.item {
    background-color: white;
    height: 100%;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.user,
.pc {
    opacity: 0;
}

.btn {
    width: 119px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: rgba(217, 217, 217, 0.00);
    color: #FFF;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30rem;
    left: 38rem;
    cursor: pointer;
}

.btn:hover {
    scale: 1.05;
}

.rule-con {
    display: none;
    transition: all 0.4s ease;

}

.rules {
    width: 278px;
    height: 325px;
    flex-shrink: 0;
    border-radius: 13px;
    border: 7px solid #FFF;
    background: #004429;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    left: 38rem;
    top: 3rem;
}

.heading {
    color: #FFF;
    font-family: Roboto;
    font-size: 29px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.li {
    width: 211px;
    height: 27px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.box {
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    background: #FFD600;
}

.close {
    background-color: #F00;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border: 4px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 53rem;
    top: 3rem;
    cursor: pointer;
}

.win-container {
    /* position: fixed; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    display: none;
}

.play {
    width: 174px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 9px;
    background: #FFF;
    border: 2px solid white;
    color: #6B6B6B;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.5px;
    z-index: 1;
}


.show{
    left: 6rem;
    top: 3%;
    
}

.right{
    left: 27.8rem;
    top: 3%;
}